<div class="page-header col-xs-10">
    <h1>${title}</h1>
</div>
<form class="form-horizontal" role="form">
    <div id="firstName" class="form-group">
        <label for="inputFirstName" class="col-xs-4 control-label">${firstNameLabel}</label>

        <div class="col-xs-6">
            <input type="text" class="form-control" id="inputFirstName" placeholder="${firstNameLabel}">
            <span id="firstName-help" class="help-block"></span>
        </div>
    </div>
    <div id="lastName" class="form-group">
        <label for="inputLastName" class="col-xs-4 control-label">${lastNameLabel}</label>

        <div class="col-xs-6">
            <input type="text" class="form-control" id="inputLastName" placeholder="${lastNameLabel}">
            <span id="lastName-help" class="help-block"></span>
        </div>
    </div>
    <div id="birthDate" class="form-group">
        <label for="inputBirthDate" class="col-xs-4 control-label">${birthDateLabel}</label>

        <div class="col-xs-6">
            <input id="inputBirthDate" class="datepicker form-control" data-date-format="dd/mm/yyyy">
            <span id="birthDate-help" class="help-block"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-4 col-xs-6">
            <a onclick="submit()" class="btn btn-primary">${submitButtonLabel}</a>
        </div>
    </div>
</form>