<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="/resources/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <script src="/resources/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/resources/css/datepicker.css">
    <script src="/resources/js/bootstrap-datepicker.js"></script>
    <script src="/resources/js/form-validation.js"></script>
    <script type="text/javascript">
        function onLoad() {
            $('.datepicker').datepicker();
        }
    </script>
    <title>${title}</title>
</head>
<body onload="onLoad()">
<div class="container">
    ${content}
</div>
</body>
</html>